test/old/install.wsdl

<?xml version="1.0" encoding="UTF-8" ?>

<definitions name="WebService"
  targetNamespace="{TOKEN/Constant/SERVICE_URL}/soap.php?wsdl"
  xmlns:tns="{TOKEN/Constant/SERVICE_URL}/soap.php?wsdl"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:type="{TOKEN/Constant/SERVICE_URL}/soap.php?xsd"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

    <documentation>
	
    </documentation>

    <types>
        <schema
            targetNamespace="{TOKEN/Constant/SERVICE_URL}/soap.php?xsd"
            xmlns:tns="{TOKEN/Constant/SERVICE_URL}/soap.php?xsd"
            xmlns="http://www.w3.org/2001/XMLSchema">

            <!-- MESSAGES -->
            <element name="IDType" type="anyType" />
            <element name="BooleanType" type="boolean" />
            <complexType name="ObjectType">
                <choice>
                    <element name="AbstractObject" type="tns:AbstractObjectType" />
                </choice>
            </complexType>
            <complexType name="ObjectListType">
                <sequence>
                    <element name="Item" type="tns:ObjectType" minOccurs="0" maxOccurs="unbounded" />
                </sequence>
            </complexType>
            <complexType name="FaultType">
                <all>
                    <element name="faultcode" type="integer" />
                    <element name="faultstring" type="string" />
                </all>
            </complexType>

            <!-- ENTITIES -->
            <complexType name="AbstractObjectType">
                <all>
                    {TOKEN/Class/AbstractObject}
                </all>
            </complexType>

        </schema>
    </types>

    <!-- MESSAGES -->
    <message name="Empty" />
    <message name="Boolean">
        <part name="Boolean" element="xsd:boolean" />
    </message>
    <message name="ID">
        <part name="ID" element="xsd:anyType" />
    </message>
    <message name="Object">
        <part name="Object" element="type:ObjectType" />
    </message>
    <message name="ObjectList">
        <part name="ObjectList" element="type:ObjectListType" />
    </message>
    <message name="Fault">
        <part name="Fault" element="type:FaultType" />
    </message>

    <!-- ABSTRACT PORT DESCRIPTION -->
    <portType name="PortType">
        <operation name="exists">
            <input message="tns:ID"/>
            <output message="tns:Boolean"/>
            <fault name="Fault" message="tns:Fault" />
        </operation>
        <operation name="enumerate">
            <input message="tns:Empty"/>
            <output message="tns:ObjectList"/>
            <fault name="Fault" message="tns:Fault" />
        </operation>
        <operation name="create">
            <input message="tns:Object"/>
            <output message="tns:ID"/>
            <fault name="Fault" message="tns:Fault" />
        </operation>
        <operation name="read">
            <input message="tns:ID" />
            <output message="tns:Object" />
            <fault name="Fault" message="tns:Fault" />
        </operation>
        <operation name="update">
            <input message="tns:Object" />
            <output message="tns:Boolean" />
            <fault name="Fault" message="tns:Fault" />
        </operation>
        <operation name="delete">
            <input message="tns:ID" />
            <output message="tns:Boolean" />
            <fault name="Fault" message="tns:Fault" />
        </operation>
    </portType>

    <!-- CONCRETE BINDING PROTOCOLS -->
    <binding name="AbstractObject" type="tns:PortType">
        <!-- Product -->
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="exists">
            <soap:operation soapAction="abstract_objects"/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="enumerate">
            <soap:operation soapAction="abstract_objects"/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="create">
            <soap:operation soapAction="abstract_objects"/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="read">
            <soap:operation soapAction="abstract_objects"/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="update">
            <soap:operation soapAction="abstract_objects"/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction="abstract_objects"/>
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <!-- add more bindings here -->

    <!-- SERVICE -->
    <service name="WebService">
        <port name="AbstractObjects" binding="tns:AbstractObject">
            <soap:address location="{TOKEN/Constant/SERVICE_URL}/soap.php/abstract_objects" />
        </port>
        <!-- add more ports here -->
    </service>
</definitions>